<div>
  <header>
  <h2>{{ name }}</h2>
</header>
<body>
  <menu>
    <button>
      Add Tasks
    </button>
  </menu>
  <article>
    <ul>
      <ng-container *ngIf="!checkTask(userId)">
        <p id="fallback">no task</p>
      </ng-container>
      <ng-container *ngFor="let task of Tasks">
        <li *ngIf="task.userId === userId">
          <h2>{{task.title}}</h2>
          <h2>{{task.id}}</h2>
          <time>{{task.dueDate}}</time>
          <p>{{task.summary}}</p>
          <p class="actions">
            <button (click)="onCompleteTask(task.id)">Complete</button>
          </p>
        </li>
      </ng-container>
    </ul>
  </article>



</body>
</div>
