
<app-header />
<main>
  <ul id="users" >
    <li *ngFor="let user of users">
      <app-user
        [id]="user.id"
        [avatar]="user.avatar"
        [name]="user.name"
        (select)="onSelectedUser($event)"
      >
    </app-user>
    </li>
  </ul>
  <div *ngIf="currentForm ==='form-tuyensinh'; else userTasks">
    <app-analysic-form></app-analysic-form>
  </div>
  <ng-template #userTasks>
  <div *ngIf="userName">
    <app-user-task [userId]="userName.id" [name]="userName.name"></app-user-task>
  </div>
  </ng-template>
</main>


